<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Orbitron:wght@500&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <script defer src="./menu.js"></script>
</head>
<body>
    <div class="menu-header">
        <div class="menu-header__boton">
            <div class="menu-header__rectangulo"></div>
            <div class="menu-header__rectangulo"></div>
            <div class="menu-header__rectangulo"></div>
        </div>
        <div class="menu-header-desplegado">
            <div class="menu-header-desplegado__container-boton-cerrar">
                <span class="menu-header-desplegado__boton-cerrar">X</span>
            </div>
                <div class="menu-header-desplegado__container-links">
                    <a href="/portfolio.html" class="menu-header-desplegado__link">Portfolio</a>
                    <a href="/servicios.html" class="menu-header-desplegado__link">Servicios</a>
                    <a href="" class="menu-header-desplegado__link">Contacto</a>
                </div>
        </div>
    </div>
</body>
</html>