<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Orbitron:wght@500&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="footer">
        <h2 class="footer__logo">Erik</h2>
        <div class="footer__container-redes-sociales">
            <div class="footer__red-social">
                <a href="" class="footer__red-social-link">Instagram</a>
                <img src="/instagram.svg" alt="" class="footer__red-social-logo">
            </div>
            <div class="footer__red-social">
                <a href="" class="footer__red-social-link">Linkedin</a>
                <img src="/linkedin.svg" alt="" class="footer__red-social-logo">
            </div>
            <div class="footer__red-social">
                <a href="" class="footer__red-social-link">Github</a>
                <img src="/components/github.svg" alt="" class="footer__red-social-logo">
            </div>
        </div>
    </div>
</body>
</html>