<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sandbox-header</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Orbitron:wght@500&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
        
        <script defer src="/menu.js"></script>
        <link rel="stylesheet" href="/menu.css">
        <script defer src="/header.js"></script>
        <link rel="stylesheet" href="/header.css">
    
</head>
<body>
    <div class="header">
        <!-- EL HEADEDR__CONTAINER-BACKGROUN-IMAGE NO DEDEBRIA ESTARR AQUI-->
        <!-- <div class="header__container-background-image">
            <img src="/components/image-header-edit.png" alt="" class="header__background-image">
        </div> -->
        <div class="header__upper-container">
            <a href="/index.html" class="header__logo">Erik</a>
            <!-- <h2 class="header__logo">Erik</h2> -->
            <div class="header__menu"></div>
        </div>
        <!-- <div class="header__container-main-text">
            <h1 class="header__title">Hola</h1>
            <p class="header__p">Soy Erik</p>
        </div> -->
    </div>
</body>
</html>